{% extends 'base/base.html' %}
{% block contenido %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-lg border-0" style="border-radius: 15px; width: 70%; max-width: 800px;">
        <div class="card-body px-5 py-4">
            <h2 class="card-title text-center" style="color: hsl(261, 80%, 48%); font-weight: bold;">
                {{ anuncio.titulo }}
            </h2>
            <hr style="border-top: 2px solid rgba(0, 0, 0, 0.1);">
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Región:</strong> {{ anuncio.region }}</p>
                    <p><strong>Empresa:</strong> {{ anuncio.empresa.nombre_empresa }}</p>
                    <p><strong>Modalidad:</strong> {{ anuncio.modalidad|capfirst }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Comuna:</strong> {{ anuncio.comuna }}</p>
                    <p><strong>Ubicación:</strong> {{  anuncio.ubicacion|default:"No especificados" }}</p>
                </div>
            </div>
            <div class="mb-4">
                <h5 style="font-weight: bold; color: hsl(261, 80%, 48%);">Descripción</h5>
                <p>{{ anuncio.descripcion|default:"No especificada" }}</p>
                <h5 style="font-weight: bold; color: hsl(261, 80%, 48%);">Requisitos</h5>
                <p>{{ anuncio.requisitos|default:"No especificada" }}</p>
            </div>
            <p class="text-muted text-end" style="font-size: 0.9em;">Publicado el: {{ anuncio.fecha_publicacion|date:"d M Y" }}</p>
        </div>
        <div class="card-footer bg-transparent border-top-0 d-flex justify-content-center gap-3 py-3">
            {% if user.is_authenticated and user.es_estudiante %}
                <a href="{% url 'postular_anuncio' anuncio.id %}" class="btn-form">Postular</a>
            {% endif %}
            <a href="{% url 'lista_anuncios' %}" class="btn-form">Volver</a>
        </div>
    </div>
</div>
{% endblock %}
