{% extends 'base/base.html' %}
{% block contenido %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Registro de Estudiante</h2>
    <form method="POST" enctype="multipart/form-data" id="form-estudiante" class="needs-validation" novalidate
        onsubmit="return validarFormulario()">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="nombre@ejemplo.com"
                    required>
                <div class="invalid-feedback">
                    Por favor, ingresa un correo válido.
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" name="password" id="password" class="form-control" required>
                <div class="invalid-feedback">
                    Por favor, ingresa una contraseña.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="nombres" class="form-label">Nombres</label>
                <input type="text" name="nombres" id="nombres" class="form-control" required maxlength="20">
                <div class="invalid-feedback">
                    Los nombres no pueden estar vacíos y deben tener máximo 20 caracteres.
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="text" name="apellidos" id="apellidos" class="form-control" required maxlength="20">
                <div class="invalid-feedback">
                    Los apellidos no pueden estar vacíos y deben tener máximo 20 caracteres.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="rut" class="form-label">RUT</label>
            <input type="text" name="rut" id="rut" class="form-control" placeholder="12345678-9" required
                maxlength="12">
            <div class="invalid-feedback">
                Por favor, ingresa un RUT válido.
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
                <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" class="form-control" required>
                <div class="invalid-feedback">
                    Por favor, ingresa tu fecha de nacimiento.
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="genero" class="form-label">Género</label>
                <select name="genero" id="genero" class="form-select" required>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option value="O">Otro</option>
                </select>
            </div>
        </div>

        <div class="mb-3">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" name="direccion" id="direccion" class="form-control" required maxlength="50">
            <div class="invalid-feedback">
                La dirección no puede estar vacía y debe tener máximo 50 caracteres.
            </div>
        </div>

        <div class="mb-3">
            <label for="telefono" class="form-label">Número de Teléfono</label>
            <input type="tel" name="telefono" id="telefono" class="form-control" required pattern="[0-9]{9}">
            <div class="invalid-feedback">
                Por favor, ingresa un número de teléfono válido (solo 9 dígitos).
            </div>
        </div>

        <div class="mb-3">
            <label for="foto" class="form-label">Subir Foto (opcional)</label>
            <input type="file" name="foto" id="foto" class="form-control">
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="region" class="form-label">Región</label>
                <select name="region" id="region-selector" class="form-select" required>
                    <option value="">Selecciona una región</option>
                    {% for region in regiones %}
                    <option value="{{ region.id }}">{{ region.nombre }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Por favor, selecciona una región.
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="comuna" class="form-label">Comuna</label>
                <select name="comuna" id="comuna-selector" class="form-select" required>
                    <option value="">Selecciona una comuna</option>
                </select>
                <div class="invalid-feedback">
                    Por favor, selecciona una comuna.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="carrera" class="form-label">Carrera</label>
            <select name="carrera" id="carrera" class="form-select" required>
                <option value="">Selecciona una carrera</option>
                {% for carrera in carreras %}
                <option value="{{ carrera.id }}">{{ carrera.nombre }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Por favor, selecciona una carrera.
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn-pro btn-border">Registrarse</button>
        </div>
    </form>
</div>

<script>

    function validarRut(rut) {
        const rutLimpio = rut.replace(/[^0-9kK]/g, '');
        if (rutLimpio.length < 8 || rutLimpio.length > 9) {
            return false;
        }
        return /^[0-9]{7,8}[0-9kK]$/.test(rutLimpio);
    }


    function validarFormulario() {
        const nombres = document.getElementById('nombres').value;
        const apellidos = document.getElementById('apellidos').value;
        const rut = document.getElementById('rut').value;
        const telefono = document.getElementById('telefono').value;

        if (nombres.length === 0 || nombres.length > 20) {
            Swal.fire({
                title: 'Error',
                text: 'Los nombres no pueden estar vacíos y deben tener un máximo de 20 caracteres.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
            return false;
        }

        if (apellidos.length === 0 || apellidos.length > 20) {
            Swal.fire({
                title: 'Error',
                text: 'Los apellidos no pueden estar vacíos y deben tener un máximo de 20 caracteres.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
            return false;
        }

        if (!validarRut(rut)) {
            Swal.fire({
                title: 'RUT inválido',
                text: 'Por favor ingrese un RUT válido.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
            return false;
        }

        if (!/^\d{9}$/.test(telefono)) {
            Swal.fire({
                title: 'Teléfono inválido',
                text: 'El número de teléfono debe tener 9 dígitos.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
            return false;
        }

        return true;
    }
    // manejo de regiones y comunas
    document.getElementById('region-selector').addEventListener('change', function () {
        var regionId = this.value;
        if (regionId) {
            fetch(`/get-comunas/${regionId}/`)
                .then(response => response.json())
                .then(data => {
                    var comunaSelector = document.getElementById('comuna-selector');
                    comunaSelector.innerHTML = ''; // se limpia la seleccion
                    data.forEach(function (comuna) {
                        var option = document.createElement('option');
                        option.value = comuna.id;
                        option.text = comuna.nombre;
                        comunaSelector.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error al obtener comunas:', error);
                });
        }
    });
</script>

{% endblock %}