<!-- templates/anuncios/lista_anuncios.html -->

{% extends 'base/base.html' %}
{% load static %}

{% block contenido %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Anuncios de Práctica</h2>
    <div class="row justify-content-center">
        {% for anuncio in anuncios %}
            <div class="col-md-8 col-lg-6 mb-4">
                <div class="card shadow-lg h-100 border-0">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title" style="color:blueviolet; font-weight: bold;">{{ anuncio.titulo }}</h5>
                        <p class="card-text"><strong>Región:</strong> {{ anuncio.region }}</p>
                        <p class="card-text"><strong>Empresa:</strong> {{ anuncio.empresa.nombre_empresa }}</p>
                        <p class="card-text text-muted" style="font-size: 0.9em;">Publicado el: {{ anuncio.fecha_publicacion|date:"d M Y" }}</p>
                    </div>
                    <div class="card-footer bg-transparent border-top-0 d-flex justify-content-end">
                        <a href="{% url 'detalle_anuncio' anuncio.id %}" class="btn-pro btn-border" style="text-decoration: none;">Ver Detalles</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">No hay anuncios disponibles en este momento.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}