<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Modificar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="">
    <br>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand='block' color="medium" [routerLink]="('/listar')">
            Volver
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand='block' color="tertiary" role="submit" type="submit">
            Modificar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
