<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title style="color: white; text-align: center;">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="registro-page">
  <ion-card class="form-card">
    <ion-card-header>
      <ion-card-title style="text-align: center;">Completa tus datos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="register()">
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombres</ion-label>
          <ion-input [(ngModel)]="nombres" name="nombres" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input [(ngModel)]="apellidos" name="apellidos" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">RUT</ion-label>
          <ion-input [(ngModel)]="rut" name="rut" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Región</ion-label>
          <ion-select [(ngModel)]="region_id" name="region_id" (ionChange)="onRegionChange()" required>
            <ion-select-option *ngFor="let region of regiones" [value]="region.id">
              {{ region.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Comuna</ion-label>
          <ion-select [(ngModel)]="comuna_id" name="comuna_id" required>
            <ion-select-option *ngFor="let comuna of comunas" [value]="comuna.id">
              {{ comuna.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Carrera</ion-label>
          <ion-select [(ngModel)]="carrera_id" name="carrera_id" required>
            <ion-select-option *ngFor="let carrera of carreras" [value]="carrera.id">
              {{ carrera.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-label>Fecha de Nacimiento</ion-label>
        <ion-item>

          <ion-datetime
            display-format="YYYY-MM-DD"
            picker-format="YYYY-MM-DD"
            [(ngModel)]="fecha_nacimiento"
            name="fecha_nacimiento"
            [max]="maxFechaNacimiento"
            required>
          </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Género</ion-label>
          <ion-radio-group [(ngModel)]="genero" name="genero">
            <ion-item>
              <ion-label>Masculino</ion-label>
              <ion-radio slot="start" value="M"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Femenino</ion-label>
              <ion-radio slot="start" value="F"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Otro</ion-label>
              <ion-radio slot="start" value="O"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Dirección</ion-label>
          <ion-input [(ngModel)]="direccion" name="direccion" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input type="tel" [(ngModel)]="telefono" name="telefono" required></ion-input>
        </ion-item>


        <div class="upload-container">
          <ion-label>Foto de Perfil</ion-label>
          <ion-button color="medium" expand="block" (click)="uploadFile('foto')">Seleccionar Foto</ion-button>
        </div>

        <div class="upload-container">
          <ion-label>Currículum Vitae</ion-label>
          <ion-button color="medium" expand="block" (click)="uploadFile('cv')">Seleccionar CV</ion-button>
        </div>


        <ion-button expand="block" type="submit" color="tertiary">Registrarse</ion-button>
      </form>


      <div class="text-center">
        <p style="color: black;">¿Ya tienes una cuenta?</p>
        <ion-button fill="clear" (click)="navigateToLogin()">Inicia Sesión</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
