{% block footer %}

<div class="fondo-navbar text-white py-4">
    <div class="container">
        <div class="row text-center text-md-left">
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 mb-3">
                <h5 class="mb-2">Contacto</h5>
                <p>
                    <i class="fas fa-home mr-3"></i>  Freire 862, San Bernardo
                  </p>
                  <p>
                    <i class="fas fa-envelope mr-3"></i>  tupractica@duocuc.cl 
                  </p>
                  <p>
                    <i class="fas fa-phone mr-3"> </i>  +569 64225677
                  </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <a href="https://www.facebook.com/tupractica2017/" class="text-white mx-2" target="_blank" aria-label="Facebook">
                    <i class="fab fa-facebook-f btn-footer"></i>
                </a>
                <a href="https://twitter.com/tupractica" class="text-white mx-2" target="_blank" aria-label="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/fllw2b/" target="_blank" class="text-white mx-2" aria-label="Instagram">
                    <i class="fab fa-instagram btnfooter"></i>
                </a>
                <a href="https://www.linkedin.com/in/cruchagafernando/" target="_blank" class="text-white mx-2" aria-label="LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
        <div class="text-center mt-3">
            &copy; 2024 TuPráctica - Todos los derechos reservados
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock footer%}