

.btn {
    padding: .45rem 1.5rem .35rem;
}

.texto-navbar {
    color: #ffffff;
    text-align: center;
}

.fondo-navbar {
    background: #ffffff;
    background: linear-gradient(to right, hsl(261deg 80% 48%), #ffffff)
}

.btn-pro {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.5s ease;
    color: black !important;
    text-align: center;
    
}

.btn-pro:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: white !important;
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn-pro a {
    color: inherit !important;
    /* para cambiar el color del link de los a*/
    text-decoration: none !important;

}

.btn-border {
    border: 2px solid hsl(261deg 80% 48%);
}

.img-fondo {
    background-image: url('/static/img/home/background.jpg');
    background-size: cover;
    background-position: center;
}

.card {
    border-radius: 15px;
}
.card-body {
    padding: 20px;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 20px;
}

.btn-footer{
    color: rgb(255, 255, 255);
}

.btn-footer:hover{
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: white !important;
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;  
}

.footer-pro {
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
}

.btn-form {
    font-size: 16px; /* Tamaño de fuente ajustado */
    width: 100px;
    height: 40px;
    border: 1px solid rgb(93, 24, 220);
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    color: rgb(93, 24, 220);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.btn-form:hover {
    background: rgb(93, 24, 220);
    color: white;
}





