<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Agregar Anuncio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formulario">
    <br>
      <!-- Importante role="submit" -->
      <!-- Importante type="submit" -->
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color= 'medium' [routerLink]="('/listar')">
              Volver
            </ion-button>
          </ion-col>
          <ion-col  size="6">
            <ion-button expand="block" color="tertiary" role="submit" type="submit" >
            Agregar
          </ion-button >
          </ion-col>
        </ion-row>
      </ion-grid>
  </form>
</ion-content>

