<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="guardarProducto()">
    <ion-item>
      <ion-label position="floating">
        Nombre
      </ion-label>
      <ion-input formControlName="nombre" type="text"></ion-input>

      <ion-note slot="error" *ngIf="campo('nombre').invalid && errores('nombre') && errores('nombre').required && esTocado('nombre')"> Este campo es requerido </ion-note>
      <ion-note slot="error" *ngIf="campo('nombre').invalid && errores('nombre') && errores('nombre').minlength && esTocado('nombre')" > El largo minimo es 3 caracteres </ion-note>
      <ion-note slot="error" *ngIf="campo('nombre').invalid && errores('nombre') && errores('nombre').maxlength && esTocado('nombre')">El largo maximo es 20 caracteres</ion-note>

    </ion-item>
    <ion-item>
      <ion-label position="stacked">Foto</ion-label>
      <ion-input (change)="cambiarFoto($event)" formControlName="foto" type="file" accept="image/*"></ion-input>

      <ion-note slot="error" *ngIf="campo('foto').invalid && errores('foto') && errores('foto').required && esTocado('foto')"> Este campo es requerido </ion-note>

    </ion-item>
    <ion-item>
      <ion-label  position="floating">
        Descripcion
      </ion-label>
      <ion-input formControlName="descripcion" type="text"></ion-input>

      <ion-note slot="error" *ngIf="campo('descripcion').invalid && errores('descripcion') && errores('descripcion').required && esTocado('descripcion')"> Este campo es requerido </ion-note>
      <ion-note slot="error" *ngIf="campo('descripcion').invalid && errores('descripcion') && errores('descripcion').minlength && esTocado('descripcion')" > El largo minimo es 5 caracteres </ion-note>
      <ion-note slot="error" *ngIf="campo('descripcion').invalid && errores('descripcion') && errores('descripcion').maxlength && esTocado('descripcion')">El largo maximo es 50 caracteres</ion-note>

    </ion-item>
    <ion-item>
      <ion-label position="floating">
        CPU
      </ion-label>
      <ion-input formControlName="cpu" type="text"></ion-input>

      <ion-note slot="error" *ngIf="campo('cpu').invalid && errores('cpu') && errores('cpu').required && esTocado('cpu')"> Este campo es requerido </ion-note>
      <ion-note slot="error" *ngIf="campo('cpu').invalid && errores('cpu') && errores('cpu').minlength && esTocado('cpu')" > El largo minimo es 5 caracteres </ion-note>
      <ion-note slot="error" *ngIf="campo('cpu').invalid && errores('cpu') && errores('cpu').maxlength && esTocado('cpu')">El largo maximo es 20 caracteres</ion-note>


    </ion-item>
    <ion-item>
      <ion-label position="floating">
        GPU
      </ion-label>
      <ion-input formControlName="gpu" type="text"></ion-input>

      <ion-note slot="error" *ngIf="campo('gpu').invalid && errores('gpu') && errores('gpu').required && esTocado('gpu')"> Este campo es requerido </ion-note>
      <ion-note slot="error" *ngIf="campo('gpu').invalid && errores('gpu') && errores('gpu').minlength && esTocado('gpu')" > El largo minimo es 5 caracteres </ion-note>
      <ion-note slot="error" *ngIf="campo('gpu').invalid && errores('gpu') && errores('gpu').maxlength && esTocado('gpu')">El largo maximo es 20 caracteres</ion-note>


    </ion-item>
    <ion-item>
      <ion-label position="floating">
        RAM en GB
      </ion-label>
    <ion-select formControlName="ram">
      <ion-select-option
          *ngFor="let item of ram"
          [value]="item"
        >
          {{item}}
        </ion-select-option>
      </ion-select>

      <ion-note slot="error" *ngIf="campo('ram').invalid && errores('ram') && errores('ram').required && esTocado('ram')"> Este campo es requerido </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Almacenamiento en GB
      </ion-label>
    <ion-select formControlName="almacenamiento">
      <ion-select-option
          *ngFor="let item of almacenamiento"
          [value]="item"
        >
          {{ item }}
        </ion-select-option>
      </ion-select>

      <ion-note slot="error" *ngIf="campo('almacenamiento').invalid && errores('almacenamiento') && errores('almacenamiento').required && esTocado('almacenamiento')"> Este campo es requerido </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Capacidad fuente poder:
      </ion-label>
    <ion-select formControlName="fuentePoder">
      <ion-select-option
          *ngFor="let item of watts"
          [value]="item"
        >
          {{ item }} watts
        </ion-select-option>
      </ion-select>

      <ion-note slot="error" *ngIf="campo('fuentePoder').invalid && errores('fuentePoder') && errores('fuentePoder').required && esTocado('fuentePoder')"> Este campo es requerido </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Precio
      </ion-label>
      <ion-input formControlName="precio" type="number"></ion-input>

      <ion-note slot="error" *ngIf="campo('precio').invalid && errores('precio') && errores('precio').required && esTocado('precio')"> Este campo es requerido </ion-note>
      <ion-note slot="error" *ngIf="campo('precio').invalid && errores('precio') && errores('precio').min && esTocado('precio')" > El valor minimo es 1  </ion-note>
      <ion-note slot="error" *ngIf="campo('precio').invalid && errores('precio') && errores('precio').max && esTocado('precio')">El valor maximo es 10000000</ion-note>


    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        Perifericos
      </ion-label>
      <ion-segment formControlName="perifericos">
        <ion-segment-button [value]="false">
          No incluye
        </ion-segment-button>
        <ion-segment-button [value]="true">
          Incluye
        </ion-segment-button>
      </ion-segment>



    </ion-item>
    <br>
      <!-- Importante role="submit" -->
      <!-- Importante type="submit" -->
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color= 'medium' [routerLink]="('/listar')">
              Volver
            </ion-button>
          </ion-col>
          <ion-col  size="6">
            <ion-button expand="block" color="tertiary" role="submit" type="submit" *ngIf="estaSucio('ram') && estaSucio('almacenamiento')
            && estaSucio('nombre')
            && estaSucio('foto')
            && estaSucio('descripcion')
            && estaSucio('cpu')
            && estaSucio('gpu')
            && esTocado('precio')
            ">
            Agregar
          </ion-button >
          <ion-button expand="block" color="tertiary"  *ngIf="!estaSucio('ram') || !estaSucio('almacenamiento')
            || !estaSucio('nombre')
            || !estaSucio('foto')
            || !estaSucio('descripcion')
            || !estaSucio('cpu')
            || !estaSucio('gpu')
            || !esTocado('precio')
            " [disabled]="true">
            Agregar
          </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </form>
</ion-content>

