{% extends 'base/base.html' %}
{% block contenido %}
<!-- CAROUSEL  -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel"  style="max-width: 100%; height: 600px; overflow: hidden;">
  <div class="carousel-inner"> <!-- BLOQUE PRINCIPAL-->

    <div class="carousel-item active">
      <img src="../static/img/home/carousel 1.jpg" class="d-block w-100" alt="slide1">
    </div>

    <div class="carousel-item">
      <img src="../static/img/home/carousel 2.jpg" class="d-block w-100" alt="slide2">
    </div>

    <div class="carousel-item">
      <img src="../static/img/home/carousel 3.jpg"  class="d-block w-100" alt="slide3">
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- INTRO -->
<section class="w-50 mx-auto text-center pt-5" id="intro">
  <h1 class="p-3 fs-2 border-top border-3">Por un futuro <span style="color: blueviolet;"> profesional!</span></h1>
</section>
<!-- SERVICIOS -->
<section class="container-fluid">
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-0 h-100">
                <div class="card-body">
                    <h5 class="card-title" style="color:blueviolet ;">Fácil y Rápido</h5>
                    <p class="card-text">Regístrate y postula a prácticas en tan solo unos minutos.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-0 h-100">
                <div class="card-body">
                    <h5 class="card-title" style="color:blueviolet ;">Empresas de Prestigio</h5>
                    <p class="card-text">Accede a oportunidades en empresas destacadas de Chile y el mundo.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-0 h-100">
                <div class="card-body">
                    <h5 class="card-title" style="color:blueviolet ;">Apoyo Personalizado</h5>
                    <p class="card-text">Nuestro equipo está aquí para ayudarte en cada paso del proceso.</p>
                </div>
            </div>
        </div>
    </div>


</section>
{% endblock contenido %}