{% extends 'base/base.html' %}
{% block contenido %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Registro de Empresa</h2>
    <form method="POST" id="form-empresa" class="needs-validation" novalidate
        onsubmit="return validarFormularioEmpresa()">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="empresa@ejemplo.com"
                    required>
                <div class="invalid-feedback">
                    Por favor, ingresa un correo válido.
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" name="password" id="password" class="form-control" required minlength="8">
                <div class="invalid-feedback">
                    La contraseña debe tener al menos 8 caracteres.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="nombre_empresa" class="form-label">Nombre de la Empresa</label>
            <input type="text" name="nombre_empresa" id="nombre_empresa" class="form-control" required maxlength="50">
            <div class="invalid-feedback">
                El nombre de la empresa no puede estar vacío y debe tener un máximo de 50 caracteres.
            </div>
        </div>

        <div class="mb-3">
            <label for="rut_empresa" class="form-label">RUT de la Empresa</label>
            <input type="text" name="rut_empresa" id="rut_empresa" class="form-control" placeholder="12345678-9"
                required maxlength="12">
            <div class="invalid-feedback">
                Por favor, ingresa un RUT válido.
            </div>
        </div>

        <div class="mb-3">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" name="direccion" id="direccion" class="form-control" required maxlength="50">
            <div class="invalid-feedback">
                La dirección no puede estar vacía y debe tener un máximo de 50 caracteres.
            </div>
        </div>

        <div class="mb-3">
            <label for="sector" class="form-label">Sector de la Empresa</label>
            <select name="sector" id="sector" class="form-select" required>
                <option value="">Selecciona un sector</option>
                {% for sector in sectores %}
                <option value="{{ sector.id }}">{{ sector.nombre }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Por favor, selecciona un sector.
            </div>
        </div>

        <div class="mb-3">
            <label for="pagina_web" class="form-label">Página web (opcional)</label>
            <input type="url" name="pagina_web" id="pagina_web" class="form-control">
        </div>

        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción de la empresa (opcional)</label>
            <textarea name="descripcion" id="descripcion" class="form-control" maxlength="200"></textarea>
        </div>

        <div class="mb-3">
            <label for="redes_sociales" class="form-label">Redes Sociales (opcional)</label>
            <input type="url" name="redes_sociales" id="redes_sociales" class="form-control">
        </div>

        <div class="text-center">
            <button type="submit" class="btn-pro btn-border">Registrarse</button>
        </div>
    </form>
</div>

<script>
    function validarRut(rut) {
        const rutLimpio = rut.replace(/[^0-9kK]/g, '');
        if (rutLimpio.length < 8 || rutLimpio.length > 9) {
            return false;
        }
        return /^[0-9]{7,8}[0-9kK]$/.test(rutLimpio);
    }

    function validarFormularioEmpresa() {
        const rut = document.getElementById('rut_empresa').value;
        const nombreEmpresa = document.getElementById('nombre_empresa').value;
        const direccion = document.getElementById('direccion').value;


        if (nombreEmpresa.length === 0 || nombreEmpresa.length > 25) {
            Swal.fire({
                title: 'Error',
                text: 'El nombre de la empresa no puede estar vacío y debe tener un máximo de 50 caracteres.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
            return false;
        }

        if (direccion.length === 0 || direccion.length > 50) {
            Swal.fire({
                title: 'Error',
                text: 'La dirección no puede estar vacía y debe tener un máximo de 50 caracteres.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
            return false;
        }

        if (!validarRut(rut)) {
            Swal.fire({
                title: 'RUT inválido',
                text: 'Por favor ingrese un RUT válido.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
            return false;
        }

        return true;
    }
</script>
{% endblock %}