.detalle-anuncio-page {
  --background: var(--ion-color-light);
  padding: 20px;
}

.detalle-card {
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo {
  font-weight: bold;
  font-size: 20px;
  color: var(--ion-color-tertiary);
}

.descripcion {
  margin-top: 10px;
  line-height: 1.6;
  color: var(--ion-color-dark);
}

ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 5px;
  color: var(--ion-color-dark);
}

.postular-btn {
  margin: 20px 15px 0;
  font-size: 16px;
  --background: var(--ion-color-tertiary);
  --color: white;
}
