{% extends 'base/base.html' %}
{% block contenido %}
<div class="container mt-5">
    <h2 class="text-center mb-4" style="color: hsl(261, 80%, 48%);">MIS ANUNCIOS</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Título</th>
                <th>Ubicación</th>
                <th>Modalidad</th>
                <th>Fecha de Publicación</th>
                <th>Fecha Límite</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if anuncios %}
            {% for anuncio in anuncios %}
            <tr>
                <td>{{ anuncio.titulo }}</td>
                <td>{{ anuncio.ubicacion }}</td>
                <td>{{ anuncio.get_modalidad_display }}</td>
                <td>{{ anuncio.fecha_publicacion|date:"d/m/Y" }}</td>
                <td>{{ anuncio.fecha_fin|date:"d/m/Y" }}</td>
                <td class="text-center d-flex justify-content-center">
                    <a href="{% url 'detalle_anuncio' anuncio.id %}" class="btn-form mx-1" style="text-decoration: none;">Ver </a>
                    <a href="{% url 'modificar_anuncio' anuncio.id %}" class="btn-form mx-1" style="text-decoration: none;">Modificar</a>
                    <a href="{% url 'eliminar_anuncio' anuncio.id %}" class="btn-form mx-1" style="text-decoration: none;">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="6" class="text-center">No has publicado ningún anuncio aún.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="text-center">
        <a href="{% url 'crear_anuncio' %}" class="btn-pro btn-border" style="text-decoration: none;">Crear Nuevo Anuncio</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
