<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white; text-align: center; font-weight: bold;">Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="editar-perfil-content">
  <ion-card class="informacion-card">
    <ion-card-header>
      <ion-card-title class="card-title">Información Personal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="full">
        <ion-label position="floating">Nombre</ion-label>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="perfil.nombres"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Apellido</ion-label>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="perfil.apellidos"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Teléfono</ion-label>
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-input type="tel" [(ngModel)]="perfil.telefono"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Dirección</ion-label>
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="perfil.direccion"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="ubicacion-card">
    <ion-card-header>
      <ion-card-title class="card-title">Ubicación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="full">
        <ion-label>Región</ion-label>
        <ion-icon name="earth-outline" slot="start"></ion-icon>
        <ion-select [(ngModel)]="perfil.region_id" (ionChange)="cargarComunas(perfil.region_id)">
          <ion-select-option *ngFor="let region of regiones" [value]="region.id">
            {{ region.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Comuna</ion-label>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-select [(ngModel)]="perfil.comuna_id">
          <ion-select-option *ngFor="let comuna of comunas" [value]="comuna.id">
            {{ comuna.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="guardar-btn-container">
    <ion-button color="tertiary" (click)="guardarCambios()" class="guardar-btn">
      <ion-icon name="save-outline" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </div>
</ion-content>

<style>
  .editar-perfil-content {
    --background: #f8f9fa;
  }

  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4a4a4a;
  }

  .informacion-card, .ubicacion-card {
    margin: 16px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }


  .guardar-btn-container {
    margin: 16px;
    display: flex;
    justify-content: center;
  }

  .guardar-btn {
    border-radius: 20px;
    font-size: 1rem;
    width: auto; /* El botón tendrá el tamaño del contenido */
    padding: 0 20px; /* Ajusta el espacio horizontal */
  }

</style>
