.card-title {
  text-align: center;
  font-size: 1.2rem;
  color: var(--ion-color-tertiary);
  font-weight: bold;
}

ion-item {
  margin-bottom: 10px;
}

.guardar-btn {
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: bold;
}
